/* CSS Document fot toptik 
blue- #01afe4


*/

/*widgwt r side */
.avatar a {
outline: none;
color: #000;
}
.titelWcon {
	background-image: url(../images/titel_w_bg.png);
	background-repeat: repeat-x;
	background-position: right center;
	display: block;
	width: 100%;
	height: 2.4em;
	background-size: 100% 10px;
}
h3.widget-title {
	font-size: 1em;
	text-align: right;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;
	float: right;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 0.9em;
	height: 0.9em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;/*border: 1px solid #150d14;
*//*cursor: pointer;
background: #ad74a2;
background: -webkit-gradient(linear,left top,left bottom,from(#ad74a2),to(#96588a));
background: -webkit-linear-gradient(#ad74a2,#96588a);
background: -moz-linear-gradient(center top,#ad74a2 0%,#96588a 100%);
background: -moz-gradient(center top,#ad74a2 0%,#96588a 100%);
outline: none;
top: -0.3em;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3), inset 0 0 0 1px rgba(255,255,255,0.65);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3), inset 0 0 0 1px rgba(255,255,255,0.65);
box-shadow: 0 1px 2px rgba(0,0,0,0.3), inset 0 0 0 1px rgba(255,255,255,0.65);*/
}
.topSsidebar .woocommerce.widget {
	background-color: #fff;
	border: solid 1px #b4b4b4;
	padding: 5px;
}
.widget-top-tik {
	color: #000;
	font-weight: bold;
	background: none;
	display: block;
	width: 95%;
	margin: 0 auto;
	border-bottom: solid 1px #cacaca;
}
.topSsidebar #s {
	border: solid 1px #999;
}
.topSsidebar #searchsubmit {
	width: 15px;
	height: 15px;
}
 .woocommerce-page .widget_layered_nav ul li {
	background-image:url(../images/ceckbox.png);
	background-repeat:no-repeat;
	background-position:right center;
}
.woocommerce .widget_layered_nav ul li.chosen a, .woocommerce-page .widget_layered_nav ul li.chosen a{
	background: #0e87a5 !important;
	padding: 0 6px 1px 18px !important;
	border:none !important;
}
.woocommerce .widget_layered_nav ul li a, .woocommerce .widget_layered_nav ul li span, .woocommerce-page .widget_layered_nav ul li a{
	margin-right:15px;
}
/*breadcrumb*/
.here {
	display: block;
	color: #01afe4;
	width: 80px;
	float: right;
}
.woocommerce .woocommerce-breadcrumb, .woocommerce-page .woocommerce-breadcrumb {
	margin: 0 0 1em;
	padding: 0;
	font-size: 0.92em;
	color: #777777;
	right: 0;
	width: 100%;
	background-image: url(../images/bred.png);
	background-repeat: repeat-x;
	height: 47px;
	background-position: 0 -19px;
	line-height: 3.5em;
}
.divid {
	background-image: url(../images/divider.png);
	background-repeat: no-repeat;
	display: block;
	width: 15px;
	height: 100%;
}
#minicart {
	position: absolute;
	z-index: 500;
	width: 170px;
	left: 0;
	top: 35px;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;
	border: solid 1px #333;
	padding: 15px;
	border-radius: 8px;
	box-shadow: #666 3px 3px 3px 2px;
	display: none;
}
#minicart .button.checkout {
	display: none;
}
#minicart .button {
	width: 90px;
	float: left;
	height: 30px;
	margin-top: 25px;
}
/*home_page*/
.searchItem #searchsubmit {
	background-image: url(../images/magnefid.png) !important;
	background-repeat: no-repeat !important;
	background-color: transparent !important;
	width: 15px !important;
	height: 18px !important;
	box-shadow: none !important;
}
.topBanner {
	width: 100%;
	height: 650px;
}
.bigSlide {
	width: 719px;
	height: 419px;
	float: left;
	background-color: transparent;
	position: relative;
	overflow: hidden;
}
.pointergall {
	position: absolute;
	background-color: #fff;
	top: 395px;
	width: 100%;
}
.bigbox img{
	display:none;
	-webkit-transition:all 0.5 ease-in-out;
	-o-transition:all 0.5 ease-in-out;
	-ms-transition:all 0.5 ease-in-out;
	transition:all 0.5 ease-in-out;
}
.bigbox img.actgall{
	display:block;
}
.topBannerBox .price del{
	display:none;
}
.pointer{
	display: block;
	float: right;
	width: 140px;
	height: 35px;
	border-right:solid 1px #dddddd;
	cursor: pointer;
	font-weight: bolder;
	padding: 3px 2px 0 0;
	text-align: center;
}
.pointer:first-child{
	border-right:none;
}
.pointer.act{
	border-top:solid 2px #18b0ef;
}
.topBannerBox {
	width: 233px;
	height: 205px;
	float: right;
	margin: 0px 0px 10px 0;
	position: relative;
	background-image: url(../images/product/hp3bg.png);
	background-repeat: no-repeat;
	background-size: 243px 145px;
	background-position: 0 -4px;
	border: solid 1px #c2c3c4;
}
.topBannerBox img {
	width: 232 !important;
	height: 137px !important;
	margin: 0 40px;
}
.topBannerBox h3 {
	color: #000;
	font-weight: bold;
	width: 100%;
	text-decoration: none;
	position: absolute;
	z-index: 5;
	margin-right: 5px;
}
.widget-area.middel{
	margin: 0 0;
}
.topBannerBox .product_meta {
	width: 224px;
	background-color: rgba(0,0,0,.02);
	height: 62px;
	position: absolute;
	bottom: 0;
	padding: 5px;
}
.topBannerBox .tags_pro {
	margin-top: 21px;
}
.topBannerBox .ietmClass, .topBannerBox .groop, .topBannerBox .sku_wrapper {
	display: none;
}
.topBannerBox .price {
	position: absolute;
	color: #000;
	font-size: 2em;
	bottom: 4px;
	z-index: 5;
	right: 5px;
	text-align: right;
}
.topBannerBox .more {
	position: absolute;
	bottom: 5px;
	z-index: 5;
	left: 5px;
}
.topBannerBox .onsale {
	left: -2px;
	top: -2px;
}
.topBannerBox del {
	color: #ECECEC;
	font-size: 0.6em;
}
.topBannerBox ins {
	background-color: transparent;
}
.topBannerBox a {
	text-decoration: none;
}
.topBannerBox.right {
	float: right;
	margin: 0 5px 6px 0;
	height: 204px;
}
.bigbox {
	position: absolute;
	top: 0;
	left: 0;
}
.bigbox img {
	width: 719px !important;
	height: 419px !important;
}
.lGallSidebar {
	float: left;
	width: 260px;
	height: 170px;
}
.small_3 {
	width: 221px;
	height: 170px;
	float: left;
	margin-left: 16px;
	background-image: url(../images/product/hp3bg.png);
	background-repeat: no-repeat;
	background-position: -3px 45px;
	position: relative;
}
.small_3 h2 {
	color: #000;
	font-weight: bold;
	text-align: right;
	width: 100%;
}
.sText {
	width: 221px;
	display: block;
	height: 30px;
	overflow: hidden;
	text-overflow: inherit;
	white-space: pre-line;
	position: absolute;
}
.small_3 img {
	width: 100px !important;
	height: 120px !important;
	float: right;
	margin-top: 34px;
}
.gallery_3_home {
	float: left;
}
.mata_3 {
	float: left;
	width: 120px;
	margin-top: 32px;
	height: 121px;
}
.mata_3 h2 {
	float: right;
	width: 100%;
	text-align: right;
	font-size: 1em;
	color: #000;
	text-shadow: #eaeaea 3px 3px 1px;
	margin-top: 15px;
}
.mata_3 h3 {
	float: right;
	width: 100%;
	text-align: center;
	font-size: 1.7em;
	color: #000;
	text-shadow: #eaeaea 3px 3px 1px;
}
.baynew {
	display: block;
	width: 100px;
	height: 35px;
	background-image: url(../images/product/baynow.png);
	background-repeat: no-repeat;
	position: absolute;
	bottom: 5px;
	left: 5px;
}
.bannerWidget {
	width: 100%;
	clear: both;
}
.products.homePage .type-product {
	float: left;
	margin: 0 47px 1em 0 !important;
	padding: 0;
}
.products.homePage li:nth-child(4n+0){
	margin-right: 0 !important;
}
.recommendedtop {
	width: 100%;
	background-image: url(../images/titel_w_bg.png);
	background-repeat: repeat-x;
	height: 30px;
	clear: both;
	background-size: 8px;
}
recommendedtop.bottom {
	height: 15px;
}
.recommendedtop h2 {
	width: 210px;
	margin: 0 auto;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;
	font-size: 1.3em;
	text-align: center;
	color: #363636;
}
#banners {
	float: left;
	width: 100%;
}
.first.banner {
	width: 675px;
	height: 112px;
	float: left;
}
.second banner {
	width: 270px;
	height: 112px;
	float: right;
}
.brandsMenu {
	float: left;
}
.brandsMenu ul {
	width: 100%;
	height: 80px;
}
.brandsMenu ul li {
	float: right;
	display: block;
	margin: 10px 10px 10px 0;
	width: 180px;
	height: 75px;
}

/*pro_class*/
.tag-desc {
	width: 100%;
	max-height: 200px;
	margin-bottom: 2em;
	margin-top: -31px;
}
.term-description {
	background-image: url(../images/titel_w_bg.png), url(../images/titel_w_bg.png);
	background-repeat: repeat-x;
	background-position: top left, bottom right;
	padding: 10px 0;
	background-size: 7px;
}
.term-description p{
	width:100%;
	height: 93px;
	line-height: 25px;
	overflow: hidden;
	white-space: pre-line;
	text-overflow: ellipsis;
	margin: 15px 0;
	color: #6a717d;
}
.pro_class {
	width: 75%;
	float: left;
}
.onsale {
	background-position: 0 0;
	background-repeat: no-repeat;
}
.sku_wrapper {
	color: #000;
	font-weight: bold;
}
.sku {
}
.product_meta {
	width: 195px;
	margin: 0 auto;
	max-height: 83px;
}
.tag {
	display: block;
	width: 19px;
	height: 17px;
	float: right;
	background-image: url(../images/product/tags.png);
	background-repeat: no-repeat;
}
.more {
	background-image: url(../images/product/detiles.png);
	display: block;
	position: absolute;
	bottom: 32px;
	left: 5px;
	width: 78px;
	height: 28px;
	background-repeat: no-repeat;
}
;
.more:hover {
	opacity: .85;
}
.ietmClass {
	width: 98%;
	background-image: url(../images/titel_w_bg.png);
	background-repeat: repeat-x;
	background-position: 0 4px;
	position: absolute;
	bottom: 0;
	height: 35px;
	color: #6a717d;
	line-height: 37px;
	background-size: 6px;
	right: 1%;
}
.req {
	display: block;
	width: 15px;
	height: 15px;
	float: right;
	background-image: url(../images/product/req.png);
	background-repeat: no-repeat;
	margin: 10px 0;
}
.b_cat {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 190px;
	height: 25px;
	margin-top: 10px;
	color: #6a717d;
}
.groop {
	line-height: 10px;
	height: 10px;
	display: block;
	margin: 5px 0;
	color: #c62c56;
	font-weight: bold;
}
.groop h2 {
	float: right;
	color: #000;
	margin-right: 5px;
}
.sku_wrapper {
	float: right;
	display: block;
	margin: -14px 5px;
}
.page-title.toptik {
	font-size: 2em;
}
.linkCats.clear {
	height: 202px;
	width: 292px;
}
.brandsCon {
	border: solid 1px #c4c4c5;
	padding: 8px;
}
.recommendedtop.goto {
	height: 63px;
	position: relative;
	background-position: center 33px;
}
.recommendedtop.goto .gotop {
	margin: 0 auto;
	background-image: url(../images/top.png);
	background-repeat: no-repeat;
	width: 150px;
	height: 150px;
	display: block;
	cursor: pointer;
	margin-top: 12px;
}
.woocommerce-breadcrumb.end {
	position: relative;
}
.woocommerce-pagination.end {
	position: relative;
	top: 10px;
}
.catImg {
	width: 100%;
	margin-top: 10px;
}
.widget-area.right {
	float: right;
	clear: right;
}
.sortbyform {
	float: left;
	color: #000;
	font-weight: bolder;
}
.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
float: left;
margin: 0 0 1em;
display: none;
}
.codenegar_slider_wrapper {
	width: 95%;
}
.widget.widget_woocommerce_product_filter_custom_slider_meta{
	background-color:#fff;
	border: solid 1px #b4b4b4;
	padding: 5px;
}
.post.error404.no-results.not-found #searchform #searchsubmit{
	width:55px;
}
.woocommerce .widget_layered_nav ul li a, .woocommerce .widget_layered_nav ul li span, .woocommerce-page .widget_layered_nav ul li a, .woocommerce-page .widget_layered_nav ul li span {
padding: 1px 0;
float: right !important;
}
.price_slider_wrapper {
width: 95%;
}
.widget_wysija_cont .wysija-submit, .wysija-submit.wysija-submit-field{
	background-color:transparent !important;
	box-shadow:none !important;
}
select{
background-color: #000;
color: #fff;
}
.woocommerce-ordering select{
	background-color: #fff;
	color: #000;
}
.codenegar_product_filter_wrap.woocommerce.widget_price_filter.meta_slider.meta_slider__price {
margin-top: 35px;
}
/*-------------------singel-------------*/
.singel_r{
	float: right;
	width: 245px;
}
.singelPrice{
	background-color:#fff;
	position:relative;
	height:120px;
	box-shadow:#dbdbdb 0 2px 2px 2px;
	margin-bottom: 15px;
}
.onsale.singel{
	background-image:url(../images/product/singelSale.png) !important;
	background-repeat:no-repeat;
	left: -1px;
	top: -1px;
}
.singelPrice ins .amount{ 
	color:#000;
	float: right;
	display: block;
	clear: right;
	font-size: 32px;
	margin-right: 10px;
}
.singelPrice  del .amount{
	color:#7a7a78;
	border-bottom:dashed 1px #7f7f7f;
	display: block;
	float: right;
	font-size: 20px;
	text-decoration: line-through;
	margin-right: 10px;
}
.singelPage{
	width:100% !important;
}
.topSingelMata {
float: right;
width: 100%;
margin-bottom: 5px;
}
.topSingelMata h1{
	font-size: 22px;
	height: 21px;
	color: #000;
}
.topSingelMata .groop{
	float:right;
	color:#c62c56;
	font-weight:bold;
	margin: 5px 0;
}
.topSingelMata .sku_wrapper{
	margin: 3px 10px;
	height: 10px;
	float: right;
} 
.singelPrice .amount{
	color:#000;
	float: right;
	display: block;
	clear: right;
	font-size: 32px;
	margin-right: 10px;

}
.images{
	position:relative
}
.woocommerce-main-image.zoom {
float: right;
width: 333px;
position: absolute;
right: 0;
top: 45px;
}
.variations_button ,.cart{
width: 270px;
height: 30px;
padding: 7px;
border: solid 1px #b4b4b4;
border-radius: 30px;
position:relative;
}
#toptikcart{
background-image:url(../images/addtocart.png) !important;
background-repeat:no-repeat;
width: 239px;
border: none;
position: absolute;
height: 48px;
text-align: center;
color: #01afe4;
font-size: 20px;
top: -1px;
right: 84px;
padding: 0;
margin: 0;
}
#toptikcart:hover{
	opacity:.85;
}
.yith_magnifier_mousetrap{
	min-height:466px;
}
.logoSingel {
	width: 340px;
	height: 51px;
}
.logoSingel img{
	width: 100%;
	height: 100%;
}
.tecdeitel{
	float:right;
	clear: both;
}
.titelWcon.singel {
	float: right;
	width: 250px;
}
.titelWcon.singel h3{
	margin: 6px 10px 0 0;
	background-image:url(../images/bg.jpg);
	width: 104px;
	font-size:20px;
	font-weight:bold;
	text-align: center;
}
.tecTab{
	display:block;
	background-image:url(../images/detail/productPageV9.png);
	background-position: 0 0;	
}
.active .tecTab{
	background-image:url(../images/detail/productPageV9act.png);
}
.decTab{
	display:block;
	background-image:url(../images/detail/productPageV9.png);
	background-position: 31px 2px;	
	width: 30px;
	height: 29px;
	float: right;
	margin-top: -13px;
}
.active .decTab{
	background-image:url(../images/detail/booka.png);
	background-position: 0 6px;
	background-repeat: no-repeat;
	margin: -12px 2px;
}

.commentTab{
	display:block;
	background-image:url(../images/detail/productPageV9.png);
	background-position: 0 0;	
}
.active .commentTab{
	background-image:url(../images/detail/productPageV9act.png);
}
.topsepping{
	display:block;
	background-image:url(../images/detail/productPageV9.png);
	background-position: -130px -5px;	
	display: block;
	float: right;
	width: 29px;
	height: 25px;
	margin-top: -6px;
}
.active .topsepping{
	background-image:url(../images/detail/productPageV9act.png);
	background-position: -123px -8px;
	height: 27px;
}
.returnTab{
	display:block;
	background-image:url(../images/detail/productPageV9.png);
	background-position: 0 0;	
	display: block;
	float: right;
	width: 29px;
	height: 25px;
	margin-top: -10px;
}
.active .returnTab{
	background-image:url(../images/detail/productPageV9act.png);
	background-position: 0;
}
.bayTab{
	display:block;
	background-image:url(../images/detail/productPageV9.png);
	background-position: -264px 0;	
	display: block;
	float: right;
	width: 29px;
	height: 30px;
	margin-top: -9px;
}
.active .bayTab{
	background-image:url(../images/detail/productPageV9act.png);
	background-position: -268px -3px;
}

.contactUstab{
	display:block;
	background-image:url(../images/detail/productPageV9.png);
	background-position: -381px -2px;	
	display: block;
	float: right;
	width: 28px;
	height: 25px;
	margin-top: -8px;
}
.active .contactUstab{
	background-image:url(../images/detail/productPageV9act.png);
	background-position: -379px 31px;
}
.tabimg{
	float:left;
}
.tabcon{
	float:right;
	width: 96%;
	padding: 10px;
}
.tabimg.shpping{
	background-image:url(../images/sepping.jpg);
	background-repeat:no-repeat;
	width: 235px;
	height: 280px;
}
.tabimg.return{
	background-image:url(../images/contect.jpg);
	background-repeat:no-repeat;
	width: 285px;
	height: 320px;
}
.tabimg.baysafet{
	background-image:url(../images/baysafe.jpg);
	background-repeat:no-repeat;
	width: 285px;
	height: 320px;
}
.phoneicon,.mailicon,.manicon,.lighticon{
	float: right;
	width: 70px;
	height: 70px;
}
.tabcon.contect{
	width:100%;
	color:#7794aa;
}
.tabcon.contect section{
	width: 90%;
	border-bottom:solid 2px #7794aa;
	margin:10px;
}
.tabcon.contect section:last-child{
	border:none;
}
.tabcon.contect .maincon{
	float:right;
	width: 500px;
}
.tabcon.contect h2{
    font-size: 1.65em;
	
    margin-bottom: -1px;
}

.tabcon.contect p{
    font-size: 1.25em;

    font-weight: bold;
    margin: 0;
    padding: 0;
}
.tabcon.contect .littel{

}

.phoneicon{
	background-image:url(../images/contecticeon.jpg);
	background-position: 0 10px;
}
.mailicon{
	background-image:url(../images/contecticeon.jpg);
	background-position: 0 -70px;
}
.manicon{
	background-image:url(../images/contecticeon.jpg);
	background-position: 0 -150px;
}
.lighticon{
	background-image:url(../images/contecticeon.jpg);
	background-position: 0 -246px;
}
.related.products {
margin-top: 15px;
clear: both;
}
.titelWcon.related{
	}
.titelWcon.related h2{
	background-image:url(../images/bg.jpg);
	width:200px;
	padding: 5px;
	text-align: center;
	margin: 0 auto;
}
.variations_form.cart{
	border:none;
}
.summary.entry-summary .product_meta{
	display:none;
}
.socialDescrip {
clear: both;









float: right;
margin-top: 25px;
width: 100%;
}
.socialDescrip li {
clear:both;
}
.social .titelWcon{
    height: 5px;
}
.mandetail{
	background-image:url(../images/detail/detila1.png);
	float:left;
	width: 122px;
	height: 225px;
	background-repeat: no-repeat;
	position: relative;
	top: 45px;
	right: -34px;
}
.yith_magnifier_thumbnail{
	width: 87px !important;
margin-left: 5px;
}
.yith_magnifier_thumbnail img{
	width:85px !important;
	height:85px !important;
}
.imageVer img{
	cursor:pointer;
	float:right;
	margin-left:3px;	
}
.variations {
	width: 100%;
}
.variations .titelWcon  h2 {
	background-image:url(../images/bg.jpg);
	width: 80px;
	text-align:center;
	margin-right:5px;
	font-size: 1.2em;
	line-height: 30px;
}
.value{
	position:relative;
}
.imageVer{
	border:solid 1px #c1c2c2;
	overflow:hidden;
	height:50px;
	width:100%;
	position:relative;
}
.single_variation_wrap{
	float:right;
}
.lver,.rver{
	display:block;
	width: 10px;
	position:absolute;
	height: 40px;
	top: 5px;
	text-align: center;
	cursor: pointer;
}
.lver{
	left:0;
	border-right:solid 1px #c1c2c2;
}
.rver{
	right:0;
	border-left:solid 1px #c1c2c2;
}
.imagvarCon {
	width: 242px;
	position: absolute;
	right: 13px;
	top: 0px;
	overflow: hidden;
}
.varslide{
	right:0px;
	position:relative;
	-webkit-transition:all ease-in-out .3s;
	-moz-transition:all ease-in-out .3s;
	-o-transition:all ease-in-out .3s;
	transition:all ease-in-out .3s;
}
.weiAttr,.dimAttr,.gerAtt,.caarAtt,.locAtt,.volAtt,.typAtt,.metAtt{
	background-image:url(../images/detail/attr.png);
	width:30px;
	height:30px;
	display:block;
	float:right;
}
.weiAttr{
    background-position-y: -273px;
}
.dimAttr{
    background-position-y: -5px;
}
.gerAtt{
    background-position-y: -59px;
}.caarAtt{
    background-position-y: -112px;
}.locAtt{
    background-position-y: -326px;
}.volAtt{
    background-position-y: -219px;
}.typAtt{
    background-position-y: -378px;
}.metAtt{
    background-position-y: -167px;
}
.reset_variations{
	visibility:hidden;
}
.shop_attributes th,.shop_attributes .alt th{
		width: 107px !important;
		background-image:url(../images/detail/border-var.png) !important;
		background-repeat:no-repeat !important;
		background-position:left center !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before, .woocommerce #content div.product .woocommerce-tabs ul.tabs:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before {
border-bottom: none !important;
}
/*---------------------------------------cart------------------------------------*/
.site-content.full{
	width:100%;
}
.topCartMenu  ul{
	width:100%;
}
.topCartMenu  ul li,.topCartMenu  ul li a{
	float:right;
	display:block;
	text-decoration:none;
}
.catr1.current_page_item {
	background-image:url(../images/cart/CartV5_08.png);
	background-position:0 0;
}
.cart2{
	background-image:url(../images/cart/CartV5_06.png);
}
.cart3{
	background-image:url(../images/cart/CartV5_04.png);

}.cart4{
	background-image:url(../images/cart/CartV5_02.png);
}
.product-subtotal .amount {
	background-color: #e3e3e5;
	width: 100%;
	height: 50px;
	display: block;
	text-align: center;






	font-weight: bold;
	color: #000;
	font-size: 22px;
	border: solid 1px #ccc;
}
.shop_table.cart{
	border:none !important;
}
/*.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
	margin-right: 39px !important;
}
.woocommerce ul.products li.product:nth-child(3n+0), .woocommerce-page ul.products li.product:nth-child(3n+0){
	margin-right:0 !important;
}*/

.related.products .products li,.products.homePage li{
	margin-right: 44px !important;
}
.related.products .products li:nth-child(4n+0),.products.homePage li:nth-child(4n+0){
	margin-right:0 !important;
}
.woocommerce ul.products li.product .price del, .woocommerce-page ul.products li.product .price del{
	float:right;
	border-bottom:dotted 1px rgba(145,145,145,0.5);
}
.woocommerce ul.products li.product .price ins, .woocommerce-page ul.products li.product .price ins{
	clear:right;
	float:right;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
position: absolute;
z-index: 2;
width: 11px !important;
height: 16px !important;
-webkit-border-radius: 1em;
-moz-border-radius: 1em;
border-radius: 1em;
border: 1px solid #000000;
cursor: pointer;
background: none !important;
outline: none;
top: -15px !important;
box-shadow:none !important;
border:none !important;
background-image:url(../images/rangtop.png) !important;
margin-left: -7px !important;
}
.ui-widget-content {
	border: 1px solid #000 !important;
	background: #000 !important;
	color: #222222 !important;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
background: #f2f2f5 !important;
} 
.social{
	width:100%;
}
.wp-pagenavi {
	direction: rtl;
	float: right;
	text-align:center;
	min-width: 100px;
	margin-right: 5%;
}
.wp-pagenavi .last,.wp-pagenavi .extend{	
	width: 45px;
}
.wp-pagenavi .pages{
	float: right;
	line-height: 20px;
	font-weight: bold;
	color: #000;
}
.wp-pagenavi a{
	text-decoration:none;
	display:inline-block;
	width: 22px;
	height: 22px;
	color:#000;
	margin-left: 1px;
	line-height: 20px;
	font-weight:bold;
	float: left;
}
.wp-pagenavi a:hover{
	color:#fff;
	background-color:#000;
	}
.wp-pagenavi .current{
	width: 22px;
	height: 22px;
	background-color:#000;
	
	color:#fff;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	float: left;
}
.btomnav{
	width:100%;
	float:left;
	background-image:url(../images/titel_w_bg.png),url(../images/titel_w_bg.png);
	background-position: 0 0, left bottom;
	height: 50px;
	background-size: 7px;
	background-repeat: repeat-x;
}
.btomnav .wp-pagenavi {
	margin-right: 40%;
	margin-top: 15px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {
background: #ffffff;
z-index: 2;
border-bottom-color: #ffffff;
color: #01afe4;
border-top: solid 3px #01afe4;
}
/*--------------------------------------------------------------CART_______________________________________________----*/
#calc_shipping_country {
	background: #fff;
	color: #000;
}
.titelWcon h1{
	margin: 6px 10px 0 0;
	background-image:url(../images/bg.jpg);
	width: 104px;
	font-weight:bold;
	text-align: center;
	padding:0 5px;
}
.cart_table_item.cartToptik {
	float: right;
	margin: 0 0 5px 0;
	width: 100%;
	border: solid 1px #c6c6c7;
}
.cartThead{
	float:right;
}
#topremove{
	width: 30px !important;
}
.product-name {
width: 450px;
}
.product-price {
width: 115px;
font-size: 22px;
color: #000;
font-weight: bolder;
}
.product-quantity {
width: 120px;
}
.product-subtotal {
width: 100px;
}
.cartMetaS{
	display:block;
	color:#000;
	font-size:16px;
	text-align: right;
	float:right;
}
.red{
	color:#c62c56;
	font-size:16px;
}
.cartDes {
display: block;
height: 30px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
width: 422px;
color: #000;
font-size: 16px;
text-align: right;
}
.cartDes p{
	width:100%;
	height:30px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	margin: 0 0 5px !important;
}
.variation{
	float:right;
}
.woocommerce td.product-name dl.variation, .woocommerce-page td.product-name dl.variation {
font-size: 15px !important;
color: #000 !important;
margin:0 5px !important;
}
.button#update_cart{
	background: #01afe4 !important;
	color: #fff !important;
	width: 130px;
	border-radius: 17px !important;
	float:right;
	border:#069 !important;
}
.checkout-button.button.alt{
	background: #24b96b !important;
	color: #fff !important;
	width: 130px;
	border-radius: 17px !important;
	margin-right:5px !important;
	border:#093 !important;

}

.product-thumbnail,.product-name,.product-price,.product-quantity,.product-subtotal{
border-right: solid 1px #c6c6c7;
}
.product-thumbnail.up,.product-name.up,.product-price.up,.product-quantity.up,.product-subtotal.up{
	border:none;
}
.coupon{
	position:relative;
	background-image:url(../images/cart/CartV5.png);
	background-repeat:no-repeat;
	
	width: 251px;
	background-position: right center;
	border: solid 1px #c6c6c7;
	padding: 5px;
	position: absolute;
	left: 0;
	top: 62px;
	z-index: 15;
} 
#coupon_code {
height: 30px !important;
margin-top: 2px !important;
}
.shipping{
	position:relative;
	background-image:url(../images/cart/shipping.png);
	background-repeat:no-repeat;
	
	width: 260px;
	background-position: right center;
	border: solid 1px #c6c6c7;
	padding: 10px 0 0 0;
	height: 33px;
	position: absolute;
	top: -100px;
	left: 10px;
} 
#shipping_method{
	color:#000;
	background:#fff;
	float: left;
	margin-left: 15px;
}
.cartTotalH2{
	width:250px;
	float:left;
}
.subCartTable{
	width: 250px;
	border: solid 1px #c6c6c7;
	padding: 10px;
	float: left;
}
.transSub{
	display:block;
	float:right;
	clear:right;
	width:150px;
	height:40px;
}
.subGeray{
display: block;
width: 90px;
height: 40px;
float: left;
clear: left;
	background-color:rgba(153,153,153,.35);
text-align: center;
font-size: 16px;
font-weight: bold;
color:#000;
}
.subGeray strong {
color: #636363;
}
.shipVal{
	display:none;
}